
/** Fonts **/
 @font-face { font-family: Nova; src: url('NOVABOLD.otf'); } 


body{
	text-align:center;
}

h1{
	color:rgb(2, 132, 130);
}

h2{
	color:#ffd700;
}

.wrapper{
	width:50%;
}

.board {
	height:50%;
	width:50%;
	display:inline-block;
	float:left;
}

.card {
	height:200px;
	width:150px;
	border:1px solid black;
	background-color:rgb(255, 255, 0);
	border-radius:10px;
	float:left;
	margin:8%;
	display:inline-block;
}

.name{
	color:#ff0000;
}

nav{
	background-color:#808080;
}

nav a{
	list-style-type: none;
	text-decoration:none;
	background:#ffbf00;
	color:white;
	padding:35px;
	display:block;
	float:left;
}

nav a:hover {
	background: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }


footer{
	clear:both;
	background:#808080;
}

 img {
        height:200px;
		width:150px;
        border-radius:10px;
  
     }




